<a href="https://colab.research.google.com/github/alebritinha/PROGRAMARIA-Exercicio-de-Codigo-Estatistica/blob/main/Exerc%C3%ADcio_de_C%C3%B3digo_%7C_Estat%C3%ADstica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estatística Básica

In [1]:
import numpy as np

In [9]:
lista_idades = [26,30,32,22,26,35,40,20,43,31,23]

In [10]:
np.sum(lista_idades)

np.int64(328)

In [11]:
len(lista_idades)

11

In [15]:
media = np.mean(lista_idades)
print("Media aritmetica", media )

Media aritmetica 29.818181818181817

In [17]:
mediana= np.median(lista_idades)
print("Mediana", mediana)

Mediana 30.0

Utilizando a tabela DADOS

In [22]:
from google.colab import drive

In [23]:
drive. mount('/content/drive/')

Mounted at /content/drive/

In [24]:
import pandas as pd

In [26]:
dados = pd.read_excel("/content/drive/MyDrive/PROGRAMARIA/planilha_modulo3.xlsx")

In [28]:
dados['IDADE'] .mean()

np.float64(31.169168453657374)

In [30]:
dados['IDADE'] .median()

30.0

In [32]:
dados['IDADE'] .mode()

0    27.0
Name: IDADE, dtype: float64

In [35]:
dados['IDADE'] .std()

6.902802832143141

In [37]:
dados['IDADE'] .min()

18.0

In [39]:
dados['IDADE'] .max()

54.0

In [42]:
dados[dados['GENERO'] == 'Feminino']['IDADE'].mean()

np.float64(31.318051575931232)